header {
  background-color: #EAE1DF;
}

body {
  background-color: #EAE1DF;
}

.navbar {
  background-color: #B79492;
}

.navbar-toggler {
  background-color: #EAE1DF;
}

.figure-caption {
  color: #736D67;
}

.nav-item {
    color: black;
}